<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INSPINIA - Landing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="~/Admin/css/animate.css" rel="stylesheet">
    <link href="~/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Admin/css/style.css" rel="stylesheet">

    <!-- input mask için gerekli -->
    <link href="~/Admin/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

    <!-- slick carousel-->
    <link href="~/Admin/css/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/Admin/css/plugins/slick/slick-theme.css" rel="stylesheet">

    <!--Plugin CSS file with desired skin--> @* Filtrelemede fiyat aralığı*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

    @*SweatAlert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


</head>
<body id="page-top" class="landing-page no-skin-config">

    @await Component.InvokeAsync("Navbar")

    <div style="padding-top:67px;">
        @RenderBody()
    </div>

    
    @await Component.InvokeAsync("Footer")
    <!-- Mainly scripts -->
    <script src="~/Admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/Admin/js/popper.min.js"></script>
    <script src="~/Admin/js/bootstrap.js"></script>
    <script src="~/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Admin/js/inspinia.js"></script>
    <script src="~/Admin/js/plugins/pace/pace.min.js"></script>
    <script src="~/Admin/js/plugins/wow/wow.min.js"></script>

    <!-- input mask için gerekli -->
    <script src="~/Admin/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- slick carousel-->
    <script src="~/Admin/js/plugins/slick/slick.min.js"></script>

 
    <script>
        $(document).ready(function () {
            $('.product-images').slick({
                dots: true
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


