@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}


<div id="inSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        @foreach (var item in Model.HomeSliders)
        {
            <li data-target="#inSlider" data-slide-to="1"></li>
        }

    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We craft we are IN+ studio</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                </div>
            </div>
            <img class="header-back" src="~/Image/SliderImage/@ViewBag.SliderImageName" />
        </div>

        @foreach (var item in Model.HomeSliders)
        {
            <div class="carousel-item">
                <div class="container">
                    <div class="carousel-caption blank">
                        <h1>We create meaningful <br /> interfaces that inspire.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                @*     <div class="header-back two"></div>*@
                <img class="header-back" src="~/Image/SliderImage/@item.SliderPhotoName" />
            </div>
        }

    </div>

    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            Buraya Resim Koyunuz
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @item.ProductPrice ₺
                            </span>
                            <small class="text-muted">@item.Category.CategoryName</small>
                            <a href="#" class="product-name"> @item.ProductName </a>

                            <div class="small m-t-xs">
                                @item.ProductDescription
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Ürüne Git <i class="fa fa-long-arrow-right pl-1"></i> </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

</div>
