
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Bizimle İletişime Geçin</h1>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">Adres Bİlgileri</span></strong><br />
                    Lorem İmpsum Sokak. Bjk Caddesi<br />
                    İstanbul , Beşiktaş<br />
                    <abbr title="Phone">Numara:</abbr> (212) 123-1903
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    İletişim, insanların birbirleriyle fikir alışverişinde bulunarak, duygu ve düşüncelerini paylaştığı bir süreçtir. İyi bir iletişim, sağlıklı ilişkilerin temelini oluşturur. İletişime geçerek aradığınız bilgilere ulaşabilirsiniz.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Mail Gönder</a>
                <p class="m-t-sm">
                    Sosyal Medya hesaplarımızı takip edin!!!
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>@DateTime.Now.Year Berkay Gülmez A.Ş.</strong><br /> Tüm hakları sakladır.</p>
            </div>
        </div>
    </div>
</section>
