@model ProductandProductImage
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">

        <div class="ibox product-detail">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-5">
                        <div class="product-images">
                            @if (Model.ProductImageList != null && Model.ProductImageList.Any())
                            {
                                foreach (var item in Model.ProductImageList) 
                                {
                                    <div>
                                        <div class="image-imitation pt-1 pb-1">
                                            <img class="img-fluid" style="margin: 10px; width: 100%; height: 200px; object-fit: scale-down; align-items: center; justify-content: center; display: flex;"
                                         src="~/Image/ProductImage/@item.ProductImageUrl" alt="Resim Açıklaması">
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="product-imitation">
                                    [ Resim Bulunamadı. ]
                                </div>
                            }
                         
                        </div>

                    </div>

                    <div class="col-md-7">

                        <h1 class="font-bold m-b-xs">
                            <strong>@Model.Product.ProductName</strong>
                        </h1>
                       
                        <hr>
                        <div>
                            <form action="/Cart/AddToCart/@Model.Product.ProductID" method="post"> @*Burda productID yide gönderelim ki hangi ürünü sepete eklediğimizi bilelim*@
                                <button type="submit" class="btn btn-primary btn-lg float-right">
                                    <i class="fa fa-shopping-cart"></i> Sepete Ekle
                                </button>
                            </form>



                            <h1 class="product-main-price">
                                @Model.Product.ProductPrice.ToString("N0") ₺
                            </h1>
                        </div>
                        <hr>
                        <h2>Ürün Açıklaması</h2>

                        <h3 class="text-muted">
                            @Model.Product.ProductDescription
                        </h3>
                        <div class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@section Scripts{
    <!-- slick carousel-->
    <script src="~/Admin/js/plugins/slick/slick.min.js"></script>

    <script>
        $(document).ready(function () {


            $('.product-images').slick({
                dots: true
            });

        });

    </script>
    }


