@{
    ViewData["Title"] = "CartPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            text-align: center;
        }

        .breadcrumb {
            display: inline-block;
            text-align: center;
        }

        .breadcrumb-item {
            display: inline-block;
            text-align: left;
        }

            .breadcrumb-item:not(:last-child)::after {

                padding: 0 5px;
            }
    </style>
</head>


<body>
    <h2>Sipariş Ödeme Sayfası</h2>
    <div class="col-md-12">
        <ol>
            <li class="breadcrumb-item">
                <a href="/Home/Index">Satın Al</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/Cart/Index">Sepetim</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>ÖDEME</strong>
            </li>
        </ol>
    </div>
</body>
</html>



<div class="wrapper wrapper-content animated fadeInRight">




    <div class="row">

        <div class="col-lg-12">

            <div class="ibox">

                <div class="ibox-content">

                    <div class="panel-group payments-method" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="float-right">
                                    <i class="fa fa-cc-amex text-success"></i>
                                    <i class="fa fa-cc-mastercard text-warning"></i>
                                    <i class="fa fa-cc-discover text-danger"></i>
                                </div>
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Kart İle</a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="payment-card">
                                                <i class="fa fa-cc-mastercard payment-icon-big text-warning"></i>
                                              
                                                <h2 id="outcardno">**** **** **** ****</h2>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h4>İSİM :</h4>  <h5 id="outname"></h5>
                                                    </div>
                                                    <div class="col-sm-3 text-center">
                                                      <h4>SKT :</h4>  <h5 id="outdate"></h5>
                                                    </div>
                                                    <div class="col-sm-3 text-right">
                                                        <h4>CVC :</h4>  <h5 id="outcvc"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <form role="form" id="payment-form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label>Kart Numarası</label>
                                                        <div class="input-group">
                                                           
                                                            <input type="text" id="cardno" maxlength="16" oninput="formatCardNo()" class="form-control" name="Number" placeholder="KART NUMARASI" required />
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7 col-md-7">
                                                    <div class="form-group">
                                                        <label>Son Kullanım Tarihi</label>
                                                        <input type="text" id="date" maxlength="4" oninput="formatDate()" class="form-control" name="Expiry" placeholder="AY / YIL" required />
                                                    </div>
                                                </div>
                                                <div class="col-5 col-md-5 float-right">
                                                    <div class="form-group">
                                                        <label>CVC KODU</label>
                                                        <input type="text" id="cvc" maxlength="3" oninput="formatCVC()" class="form-control" name="CVC" placeholder="CVC" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label>Kart Sahibinin Adı</label>
                                                        <input type="text" id="name" oninput="formatName()" class="form-control" name="nameCard" placeholder="İSİM SOYİSİM" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary" type="submit">Ödemeyi Tamamla !</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script>
    function formatName() {
        var name = document.getElementById("name").value;
        document.getElementById("outname").textContent = name;
    }

    function formatCVC() {
        var cvc = document.getElementById("cvc").value;
        document.getElementById("outcvc").textContent = cvc;
    }
</script>

 <script>
        function formatDate() {
            var dateInput = document.getElementById("date");
            var date = dateInput.value;
            var formattedDate = "";

            // Rakamları ve "/" karakterini filtrele
            var digits = date.replace(/\D/g, "");

            if (digits.length > 2) {
                formattedDate = digits.substr(0, 2) + " / " + digits.substr(2);
            } else {
                formattedDate = digits;
            }

        document.getElementById("outdate").textContent = formattedDate;
        }
    </script>

<script>
    function formatCardNo() {
        var cardno = document.getElementById("cardno").value;
        var formattedCardNo = "";

        // Rakamları filtrele
        var digits = cardno.replace(/\D/g, "");

        for (var i = 0; i < digits.length; i++) {
            if (i > 0 && i % 4 === 0) {
                formattedCardNo += " ";
            }
            formattedCardNo += digits[i];
        }

        document.getElementById("outcardno").textContent = formattedCardNo;
    }
</script>